---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import BreadcrumbLayout from './BreadcrumbLayout.astro'
import Hr from '@/components/Hr.astro'

interface Props {
  frontmatter: {
    title: string
    date: Date
    description?: string
  }
}

const { frontmatter } = Astro.props

const formattedDate = new Date(frontmatter.date).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---

<BreadcrumbLayout title={frontmatter.title} description={frontmatter.description}>
  <main>
    <article>
      <header class="post-header">
        <h1>{frontmatter.title}</h1>
        <time datetime={frontmatter.date.toString()}>{formattedDate}</time>
      </header>
      <Hr />
      <div class="post-content">
        <slot />
      </div>
    </article>
  </main>
</BreadcrumbLayout>

<style>
  main {
    padding-bottom: 4rem;
  }

  .post-header {
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    time {
      color: var(--theme-text-dim);
    }
  }

  .post-content {
    display: contents;
    line-height: 1.7;

    p {
      margin-bottom: 1.5rem;
    }

    em {
      font-style: italic;
    }

    strong {
      font-weight: bold;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
    }

    ul,
    ol {
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
    }

    li {
      margin-bottom: 0.5rem;
    }

    blockquote {
      border-left: 3px solid var(--theme-accent);
      padding-left: 1rem;
      margin: 1.5rem 0;
      color: var(--theme-text-subtle);
      font-style: italic;
    }

    code {
      font-family: var(--font-mono);
      color: var(--theme-code-text);
      background: var(--theme-code-bg);
      padding: 0.25rem;
      border-radius: 0.25rem;
    }

    pre {
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      overflow-x: auto;
      margin-bottom: 1.5rem;

      --blended-dark-bg: color-mix(in srgb, var(--theme-bg) 66%, black);
      background: var(--blended-dark-bg) !important;
      /* border: 1px solid var(--theme-border); */

      code {
        background: none;
        padding: 0;
      }
    }

    a {
      color: var(--theme-accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.2s ease;

      &:hover {
        text-decoration-color: var(--theme-accent);
      }
    }
  }
</style>
